.imgGalleryAll{
       
        width: fit-content;
        height:auto;
        border:1px solid black;
        background-color:rgb(240, 223, 150);
        


        .imgGalleryList{margin:40px; list-style-type: none; display: grid; gap: 50px;
                grid-template-columns: auto auto auto;
        li img {width: 350px;
        height: 350px; object-fit: cover;}}

}