.appReduxTasks{width: 600px; background-color: beige; padding: 20px; border: 1px solid rgb(112, 11, 11);
        .headerTasksApp {
                        display: flex;
                        flex-direction: row; 
                        justify-content: space-between;}

}
.filterBtn{background-color: rgb(112, 112, 233);}
