.feedback {border: 2px solid black; padding: 20px; width:fit-content; background-color: beige; border-radius: 5%;
h3,h4{margin: 15px 0px;}}
.options{padding: 20px; text-align: center;display: flex; justify-content: space-between; background-color: rgba(250, 148, 117, 0.582);gap:10px;border-radius: 19%;}
.stats{display: flex;flex-direction: column;}